@page "/"

@using System.Text
@using MudBlazor
@using NorseMythologyIndex.Models
@using NorseMythologyIndex.Services
@inject MythologyService MythologyService
@inject NavigationManager NavigationManager

<PageTitle>Norse Mythology Index</PageTitle>
<div class="page-container">
    <MudContainer class="homeContent">
        <h1 class="page-title">Norse Mythology Index</h1>
        <MudAutocomplete Style="width: 40rem; margin: auto" T="string" MaxItems="100"
                         Label="Search for characters, locations or objects" Variant="Variant.Filled"
                         Value="_searchString" ValueChanged="OnValueChanged" SearchFunc="@Search1"Clearable="true" >
        </MudAutocomplete>
    </MudContainer>
</div>
@code{

    private Dictionary<string, MythologyItem> _mythologyItems = new();
    private bool _isLoading = true;
    private string _searchString = string.Empty;
    
    protected override async Task OnInitializedAsync()
    {
        _mythologyItems = await MythologyService.GetAllItemsAsync();
        _isLoading = false;
    }
    private void OnValueChanged(string value)
    {
        _searchString = value;

        NavigationManager.NavigateTo($"/item/{_searchString}");
    }

    private async Task<IEnumerable<string>> Search1(string value, CancellationToken token)
    {
        if (string.IsNullOrEmpty(value))
        {
            return _mythologyItems.Keys.Where(x => MythologyService.RemoveSpecialCharacters(x).Contains(""));
        }

        return _mythologyItems.Keys.Where(x => MythologyService.RemoveSpecialCharacters(x).Contains(value, StringComparison.CurrentCultureIgnoreCase));
    }
}
<style>

    .page-container{
        margin: auto;
        text-align: center;
    }
    .page-title{
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    .homeContent{
        width: 75%;
        margin: 7.5% auto;
        font-weight: bold;
        align-content: center;
    }
</style>