@page "/locations"
@using System.Reflection.Metadata
@using MudBlazor
@using NorseMythologyIndex.Models
@using NorseMythologyIndex.Services
@inject MythologyService MythologyService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<PageTitle>Æsir</PageTitle>
<div class="page-container">
    <h1>Locations</h1>

    @if (isLoading)
    {
        <div class="loading">
            <p>Loading Locations...</p>
        </div>
    }
    else if (locationItems.Any())
    {
        <MudStack Style="margin-bottom: 2rem" Row="true" Wrap="Wrap.Wrap" Spacing="2">
            @foreach (var item in locationItems)
            {
                if (item.Value.Tags.Contains("Location"))
                {
                    <tr style="width: 8rem;">
                        <td ><NavLink class="item" href="@($"/item/{item.Key}")">@item.Key</NavLink></td>
                    </tr>
                }
            }
        </MudStack>
    }
    else
    {
        <p>No Location Items found.</p>
    }
</div>

@code {
    private Dictionary<string, MythologyItem> locationItems = new();
    private bool isLoading = true;
    private string? selectedItemName;
    
    
    protected override async Task OnInitializedAsync()
    {
        locationItems = await MythologyService.GetItemsByTypeAsync("Location");
        isLoading = false;
    }

}

<style>
    
    .page-container {
        max-width: 60rem;
        margin: 0 auto;
        padding: 6rem;
        height: fit-content;
    }

    h1 {
        color: #2c3e50;
        margin-bottom: 2rem;
        font-size: 2.5rem;
        text-align: center;
    }
    .tables-container{
        margin:auto;
        width: fit-content;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5rem;
    }
    .as-table{
        height: fit-content;
    }
    .item {
        margin: 0;
        padding: 0;
        text-decoration: none;
        color: black;
    }
    .loading {
        text-align: center;
        padding: 3rem;
        font-size: 1.2rem;
        color: #666;
    }
</style>


