@using System.Reflection.Metadata
@using BlazorBootstrap
@using NorseMythologyIndex.Models
@using NorseMythologyIndex.Services
@inject MythologyService MythologyService
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
<div class="attestation-section-@attestation.Key.ToString().Remove(4)">
    @if (!string.IsNullOrEmpty(attestation.Value.Link))
    {
        <div class="source">
            <a href="@attestation.Value.Link" target="_blank" class="source-link">
                <h2>@attestation.Key</h2>
            </a>

            <button class="collapse-button" @onclick="Collapse"><Icon Name="@collapseIcon"></Icon></button>
        </div>
    }
    
    @foreach (var reference in attestation.Value.GetReferences())
    {
        <hr/>
        <SourceSection reference="@reference"></SourceSection>
    }
</div>


@code{
    
    [Parameter]
    public KeyValuePair<string, Source> attestation { get; set; }

    public bool isCollapsed = false;
    public string collapseState = "fit-content";
    public IconName collapseIcon = IconName.CaretDownFill;
    public Dictionary<string, Reference> references;
    protected override async Task OnInitializedAsync()
    {
        references = attestation.Value.GetReferences();
    }
    
    public void Collapse()
    {
        isCollapsed = !isCollapsed;
        collapseState = isCollapsed ? "3.5rem" : "fit-content";
        collapseIcon = isCollapsed ? IconName.CaretRightFill : IconName.CaretDownFill;
    }

}

<style>
    .attestation-section-@attestation.Key.ToString().Remove(4) {
        border-left: 3px solid black;
        padding-left: 1.5rem;
        margin: 2rem 0;
        max-height: @collapseState;
        overflow: hidden;
    }
    .collapse-button{
        float:right; 
        height: 1rem; 
        margin-top: auto;
        background-color: transparent;
        border-width: 0px;
        font-weight: bold;
    }
    .source{
        margin: 1rem auto;
        text-align: center;
    }
    
    .source-section h3{
        margin: 0;
    }
    
    .source-section-content-title a{
        color: #2980b9;
        text-decoration: none;
        margin: 0;
        font-weight: bold;
    }
    hr{
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 0.5rem 0;
        padding: 0;
    }

    .source-link {
        color: #3498db;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        margin: 0;
    }
    .source-link h2, a{
        margin: 0rem auto;
    }
    .source-link h3{
        margin: 0rem auto 1rem auto;
    }
    .source-link:hover {
        text-decoration: underline;
    }

    .reference h5 {
        color: #34495e;
        margin-bottom: 0.75rem;
    }
    
    .quote blockquote {
        border-left: 3px solid #95a5a6;
        padding-left: 1rem;
        margin: 1rem 0;
        font-style: italic;
        color: #555;
    }
</style>