@using System.Globalization
@using System.Text
@using BlazorBasic.Pages
@using MudBlazor
@using NorseMythologyIndex.Models
@using NorseMythologyIndex.Services
@inject NavigationManager NavigationManager
@inject MythologyService MythologyService

<div class="menu-container"  onclick="document.querySelector('.navbar-toggler').click()">
    <MudStack Justify="Justify.Center" Row="true">
        <div class="nav-item">
            <NavLink class="nav-link-menu" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>
        <MudMenu  >
            <ActivatorContent>
                <NavLink class="nav-link-menu">
                    Characters
                </NavLink>
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem Style="padding: 0;margin:0">
                    <NavLink class="nav-link" href="aesir">
                        Æsir
                    </NavLink>
                </MudMenuItem>
                <MudMenuItem Style="padding: 0;margin:0">
                    <NavLink class="nav-link" href="vanir">
                        Vanir
                    </NavLink>
                </MudMenuItem>
                <MudMenuItem Style="padding: 0;margin:0">
                    <NavLink class="nav-link" href="jotunn">
                        Jötunn
                    </NavLink>
                </MudMenuItem>
                <MudMenuItem Style="padding: 0;margin:0">
                    <NavLink class="nav-link" href="otherbeings">
                        Other Beings
                    </NavLink>
                </MudMenuItem>
            </ChildContent>
        </MudMenu>
        <div class="nav-item ">
            <NavLink class="nav-link-menu" href="objects">
                Objects
            </NavLink>
        </div>
        <div class="nav-item ">
            <NavLink class="nav-link-menu" href="locations">
                Locations
            </NavLink>
        </div>
        <div class="nav-item ">
            <NavLink class="nav-link-menu" href="aboutus">
                About Us
            </NavLink>
        </div>
        <div class="nav-item">
            <MudAutocomplete  Style="width: 10rem; margin-top: -1rem" Dense="true" T="string" MaxItems="100"
                              Label="Search" Variant="Variant.Text"
                              Value="_searchString" ValueChanged="OnValueChanged" SearchFunc="@Search" Clearable="true" >
            </MudAutocomplete>
        </div>
    </MudStack>
</div>

@code{

    private Dictionary<string, MythologyItem> _mythologyItems = new();
    private bool _isLoading = true;
    private string _searchString = string.Empty;
    
    protected override async Task OnInitializedAsync()
    {
        _mythologyItems = await MythologyService.GetAllItemsAsync();
        _isLoading = false;
    }
    private void OnValueChanged(string value)
    {
        _searchString = value;
        NavigationManager.NavigateTo($"/item/{_searchString}");
    }

    private async Task<IEnumerable<string>> Search(string value, CancellationToken token)
    {
        if (string.IsNullOrEmpty(value))
        {
            return _mythologyItems.Keys.Where(x => MythologyService.RemoveSpecialCharacters(x).Contains(""));
        }

        return _mythologyItems.Keys.Where(x => MythologyService.RemoveSpecialCharacters(x).Contains(value, StringComparison.CurrentCultureIgnoreCase));
    }

    
}

<style>
    .menu-container{
        background-color: #E6E6E6;
        height: 70px;
        width: 100%;
        align-content: center;
        text-align: center;
        filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.2));
        position: fixed;
        z-index: 100;
    }
    .nav-item{
        display: inline-block;
        margin: auto 0.5rem;
    }
    .nav-link{
        color: black;
        text-decoration: none;
        font-size: 1.1rem;
    }
    .mud-menu-item .mud-menu-item-text{
        margin:0;
    }
    /* Estilo para el enlace activo */
    .nav-link.active{
        background-color: #E6E6E6; /* Azul, puedes cambiarlo al color que prefieras */
    }

    .nav-link-menu{
        color: black;
        text-decoration: none;
        font-size: 1.1rem;
    }

    /* Estilo para el enlace activo */
    .nav-link-menu.active{
        background-color: white; /* Azul, puedes cambiarlo al color que prefieras */
        border-radius: 30px;
        border: 1px #E6E6E6 solid;
        padding: 5px 10px;
    }
</style>